:root {
  /* Fonts */
  --primary-font: century-gothic, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;

  /* Colors */
  --color-one: #eb5b33;
  --color-one-h: 13;
  --color-one-s: 82%;
  --color-one-l: 56%;
  --color-two: #1496dc;
  --color-three: #51af50;
  --color-gray-0: #f8f9fa;
  --color-gray-1: #f1f3f5;
  --color-gray-2: #e9ecef;
  --color-gray-3: #dee2e6;
  --color-gray-4: #ced4da;
  --color-gray-5: #adb5bd;
  --color-gray-6: #868e96;
  --color-gray-7: #495057;
  --color-gray-9: #343a40;
  --color-gray-9: #212529;

  /* Sizes and widths */
  --content-w-wide: 80rem;
  --content-w-regular: 60rem;
  --content-w-narrow: 40rem;
  --content-w-narrower: 20rem;
}
