.formContainer {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
}

.formContainer label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-secondary-color);
}

.formContainer input[type=text],
.formContainer input[type=email],
.formContainer textarea {
  appearance: none;
  border: 1px solid var(--card-shadow);
  color: var(--text-secondary-color);
  border-radius: 6px;
  line-height: 32px;
  padding: 6px 12px;
  width: calc(100% - 24px);
  margin-bottom: 1.5rem;
  background-color: var(--input-bg);
  font-family: var(--primary-font);
}

.formContainer textarea {
  margin-bottom: 2rem;
  height: 150px;
}