.heroHeader {
  margin-bottom: 4rem;
}

@media screen and (min-width: 60rem) {
  .heroHeader {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  .heroHeader {
    margin-bottom: 8rem;
  }
}

.title,
.content,
.linkContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-w-wide);
  padding: 0 2rem;
}

@media screen and (min-width: 80rem) {
  .title,
  .content,
  .linkContainer {
    width: var(--content-w-wide);
  }
}

.content,
.linkContainer {
  font-size: 1.25em;
  margin-top: 1em;
}

.image {
  margin-top: 2rem;
  width: 100%;
}

.image > div {
  height: 56.25vw;
}
