.overallContainer {
  display: flex;
  flex-flow: column;
  margin: auto;
  min-height: 100vh;
}

.site_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.site_main {
  margin-bottom: 2rem;
}

.site_footer {
  margin: auto 2rem 1rem;
}
