.site {
  display: flex;
  flex-flow: column;
  margin: auto;
  min-height: 100vh;
}

.site_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 2rem 4rem;
}

@media screen and (min-width: 80rem) {
  .site_header {
    flex-direction: row;
    margin: 1rem 2rem 6rem;
  }
}
.site_main {
  margin-bottom: 4rem;
}

.site_footer {
  font-size: 1rem;
  line-height: 1.2;
  margin: auto 2rem 1rem;
}

.site_footer a {
  text-decoration-thickness: 1px;
}

.site_footer .dot {
  color: var(--color-one);
  padding: 0 0.25em;
}
